.active {
  background-color: var(--first-color);
  color: var(--input-color) !important;
}

.navlink {
  display: block;
  color: var(--first-color);
  text-decoration: none;
  margin: 0.5rem;
  text-align: center;
}
