.menu_btn_div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.menu_icon_btn {
  background-color: var(--first-color);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu_icon {
  color: var(--input-color) !important;
  top: 0;
  right: 0;
}

@media screen and (max-width: 900px) {
  .menu_btn_div {
    display: block;
  }
}
