.backgroundEffect {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  overflow: hidden;
}

.backgroundEffect_hr {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.backgroundEffect_hr_dark {
  border-right: 1px solid rgba(255, 255, 255, 0.12);
}
